.card {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    flex-direction: row;
    align-items: center;
}

.card-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 10px;
}

.card-content {
    flex: 1;
}

.card-title {
    margin: 0;
}

.card-description {
    margin: 0 0 10px 0;

}

.card-price {
    margin:0;
    font-weight: bold;
    margin-bottom: 10px;
}

.remove-product {
    background-color: rgb(159, 55, 55);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    transition: 2s all ease;
}

.add-product {
    background-color: rgb(4, 72, 4);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    transition: 2s all ease;

}

.remove-product:hover {
    background-color: rgb(255, 0, 0);
}
.add-product:hover {
    background-color: rgb(0, 255, 0);
}